

*
{
  box-sizing: border-box;
  --mainColor: #3e5a9c;
  --secondaryColor: #5a81db;
}


body
{
  margin: 0;
  padding: 0;
  
}


/* -------------------------------------------------------------------------------------------------------- NAVBAR ------------------------------------------------------------------------------*/

.navBar
{
  background-color: var(--mainColor);
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  color: white;
  flex-direction: column;
  align-items: flex-start;

}

.navTitle
{
  font-size: 1.5rem;
  margin: 1rem;
}

.navLinks
{
  display: none;
 
}

.navLinks ul
{
   flex-direction: column;
   width: 100%;
   padding: 0;
   margin: 0;
  
  
  
}

.navLinks li
{
  text-align: center;
}

.navLinks ul li a 
{
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: white;
  font-size: 1.20rem;
}

i.bx-menu
{
 
  position: absolute;
  color: white;
  top: 1rem;
  right: 1rem;
  font-size: 25px;
}

.navLinks.actived
{
  display: flex;
  transition: all 0.5s ease;
  width: 100%;
 
}

/* -------------------------------------------------------------------------------------------------------- END  NAVBAR ------------------------------------------------------------------------------*/




/* -------------------------------------------------------------------------------------------------------- CONTAINER MAIN PAGE ------------------------------------------------------------------------------*/

/* ---------------------------- CONTAINER INTRODUCTION ------------------*/

.containerIntroduction .imgIntroduction img
{
  width: 100%;
}

.containerIntroduction .titleIntroduction 
{
  color: var(--mainColor);
  font-size: 1.75rem;
  text-align: center;
  padding: 50px;
}

.containerIntroduction .descriptionIntroduction 
{
  display: flex;
  text-align: center;
  font-size: 1.2rem;
  color: var(--mainColor);
  padding: 10px;
}

.containerIntroduction .descriptionIntroduction2
{
  display: flex;
  text-align: center;
  font-size: 1rem;
  color: var(--mainColor);
  padding: 10px;
}

.containerIntroduction .descriptionIntroduction3
{
  display: flex;
  text-align: center;
  font-size: 1rem;
  color: var(--mainColor);
  padding: 10px;
}

.containerIntroduction
{
  height: 100vh;
}

/* ------------------------------- Page Event -------------------------*/

.event
{
  height: 100vh;
}

.containerEvent .imgEvent img
{
  width: 100%;
}

.containerEvent .titleEvent
{
  text-align: center;
  color: var(--mainColor);
  font-size: 1.5rem;
  margin-top: 50px;
}

.blockEvent
{
  width: 100%; 
  background-color: #e3e6e4;
  margin-bottom: 100px;
  margin-top: 75px;
}

.blockEvent .imgEvent img
{
  width: 100%;
}

.titleBlockEvent
{
  color: var(--mainColor);
  font-size: 1.5rem;
  padding: 10px;
}

.descriptionBlockEvent 
{
  color: var(--mainColor);
  font-size: 0.8rem;
  margin-left: 10px;
}

.blockTitle
{
  display: flex;
}

 p
{
  color: var(--mainColor);
  font-size: 0.7rem;
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  padding-bottom: 10px;
}

.titleIntroductionImgEvent
{
  display: none;
}

/* ------------------------------- END Page Event -------------------------*/

/* ------------------------------------------------------ END CONTAINER INTRODUCTION --------------------------------------------*/

/* ------------------------- CONTAINER QSN -------------------------*/

.containerQSN
{
  height: 100vh;
}


 .titleQSN
{
  font-size: 1.5rem;
  color: var(--mainColor);
  text-align: center;
}

.containerQSN .imgQSN img
{
  width: 100%;
  margin-top: 30px;
}

.containerQSN .descriptionQSN
{
  text-align: center;
  font-size: 1.2rem;
  color: var(--mainColor);
  padding: 10px;
  margin-top: 20px;
}

.containerQSN .descriptionQSN2
{
  text-align: center;
  font-size: 1rem;
  color: var(--mainColor);
  padding: 10px;
  margin-top: 20px;
}

.containerQSN .descriptionQSN3
{
  text-align: center;
  font-size: 1rem;
  color: var(--mainColor);
  padding: 10px;
  margin-top: 20px;
}



.buttonEvent
{
  height: 150px;
  width: 100%;
  text-align: center;
}

.buttonEvent button
{
  margin-top: 30px;
  height: 50px;
  width: 250px;
  background-color: var(--mainColor);
  border-radius: 15px;
  border: none;
  color: white;
  font-size: 0.90rem;
  
}

.titleIntroductionImg
{
  display: none;
}

/* ------------------------- END CONTAINER QSN ------------------------*/





/* -------------------------------------------------------------------------------------------------------- RESPONSIVE NAVBAR ------------------------------------------------------------------------------*/

@media (min-width: 768px)
{

  .navBar
  {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    flex-direction: row;

  }


    i.bx-menu
    {
      display: none;
    }
   
    .navLinks
    {
      display: block;
      
      
    }

    .navLinks ul
    {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
    
      
    }

    .navLinks li
    {
      list-style: none;
    }

    .navLinks li a 
    {
      text-decoration: none;
      color: white;
      padding: 1rem;
      display: block;
    }

    .navLinks li:hover
    {
      background-color: var(--secondaryColor);
      border-radius: 10px;  
    }

  

}

/* -------------------------------------------------------------------------------------------------------- END RESPONSIVE NAVBAR ------------------------------------------------------------------------------*/

/* ---------------------------------- RESPONSIVE MAIN PAGE FORMAT MOBILE L ------------------------*/

@media(min-width: 425px)
{
  .containerIntroduction .descriptionIntroduction
  {
    padding: 20px;
  }

  .containerQSN .descriptionQSN
  {
   padding: 20px;
  }
}

/* ---------------------------------- END RESPONSIVE MAIN PAGE FORMAT MOBILE L ------------------------*/


/* ---------------------------------- RESPONSIVE MAIN PAGE FORMAT TABLET ------------------------*/

@media(min-width: 768px)
{
  .containerIntroduction .descriptionIntroduction
  {
    font-size: 1.5rem;
  }

  .containerIntroduction .descriptionIntroduction2
  {
    font-size: 1.5rem;
  }

  .containerIntroduction .descriptionIntroduction3
  {
    font-size: 1.5rem;
  }

  .containerQSN .descriptionQSN
  {
   font-size: 1.5rem;
  }

  .containerQSN .descriptionQSN2
  {
   font-size: 1.5rem;
  }

  .containerQSN .descriptionQSN3
  {
   font-size: 1.5rem;
  }

  .containerIntroduction .titleIntroduction 
  {
    font-size: 2.5rem;
  }

  .titleQSN
  {
    font-size: 2.5rem;
    margin-top: 150px;
  }

  .buttonEvent button
  {
    margin-top: 30px;
    height: 50px;
    width: 350px;
    background-color: var(--mainColor);
    border-radius: 15px;
    border: none;
    color: white;
    font-size: 1.5rem;
  }
}

/* ---------------------------------- END RESPONSIVE MAIN PAGE FORMAT TABLET ------------------------*/


/* ---------------------------------- RESPONSIVE MAIN PAGE FORMAT LAPTOP ------------------------*/


@media (min-width: 1024px)
{
  .navTitle
  {
    font-size: 1.8rem;
  }

  .titleQSN
  {
    margin-top: 55%;
  }

  .containerIntroduction .imgIntroduction img
  {
    width: 100%;
    height: 100vh;
    filter: brightness(50%);
  }

  .titleIntroductionImg
  {
    position: absolute;
    color: white;
    top: 40%;
    left: 15%;
    font-size: 3rem;
  }

  .titleIntroductionImg
  {
    display: block;
  }

}

/* ---------------------------------- END RESPONSIVE MAIN PAGE FORMAT LAPTOP ------------------------*/


/* ----------------------------------  RESPONSIVE MAIN PAGE FORMAT LAPTOP L ------------------------*/

@media (min-width: 1440px)
{
  .titleQSN
  {
    margin-top: 45%;
  }

  .containerIntroduction .descriptionIntroduction
  {
    text-align: left;
    margin-left: 20px;
  }

  .containerIntroduction .descriptionIntroduction2
  {
    text-align: left;
    margin-left: 20px;
  }

  .containerIntroduction .descriptionIntroduction3
  {
    text-align: left;
    margin-left: 20px;
  }

  .containerQSN .descriptionQSN
  {
    text-align: left;
    margin-left: 20px;
  }

  .containerQSN .descriptionQSN2
  {
    text-align: left;
    margin-left: 20px;
  }

  .containerQSN .descriptionQSN3
  {
    text-align: left;
    margin-left: 20px;
  }
}


@media (min-width: 1920px)
{
  .titleQSN
  {
    
    position: absolute;
    top: 1200px;
    left: 15%;
    z-index: 8;
    font-size: 4rem;
    color: white;
    
  }

  .containerIntroduction .descriptionIntroduction
  {
    text-align: left;
    margin-left: 20px;
  
  }

  .containerIntroduction .descriptionIntroduction2
  {
    text-align: left;
    margin-left: 20px;
  }

  .containerIntroduction .descriptionIntroduction3
  {
    text-align: left;
    margin-left: 20px;
  }

  .containerQSN .descriptionQSN
  {
    text-align: left;
    margin-left: 20px;
    position: absolute;
    top: 2200px;
    color: white;
  }

  .containerQSN .descriptionQSN2
  {
    text-align: left;
    margin-left: 20px;
    position: absolute;
    top: 2300px;
    color: white;
  }

  .containerQSN .descriptionQSN3
  {
    text-align: left;
    margin-left: 20px;
    position: absolute;
    top: 2400px;
    color: white;
  }

  .imgQSN
  {
    filter: brightness(50%);
    position: relative;
    top: 50%;
    height: 100%;
  }

  .buttonEvent button
  {
    margin-top: 500px;
    cursor: pointer;
  }

  .buttonEvent button:hover
  {
    background-color:  var(--secondaryColor);
  }

  .titleIntroductionImg
  {
    position: absolute;
    color: white;
    top: 40%;
    left: 15%;
    font-size: 3rem;
  }
}


/* ---------------------------------- END RESPONSIVE MAIN PAGE FORMAT LAPTOP L ------------------------*/

/* ------------------------------- RESPONSIVE EVENT PAGE FORMAT TABLET ------------------------*/

@media (min-width: 768px)
{
  .descriptionBlockEvent 
  {
    font-size: 1rem;
  }

  p
  {
    font-size: 0.9rem;
  }

  .containerEvent .titleEvent
  {
    font-size: 2rem;
  }
}

/* ------------------------------- END RESPONSIVE EVENT PAGE FORMAT TABLET ------------------------*/


/* ------------------------------- RESPONSIVE EVENT PAGE FORMAT LAPTOP ------------------------*/

@media (min-width: 1024px)
{
  .containerEvent .imgEvent img
  {
    width: 100%;
    filter: brightness(50%);
  }

  .titleIntroductionImgEvent
  {
    position: absolute;
    color: white;
    top: 30%;
    left: 15%;
    font-size: 3rem;
  }

  .titleIntroductionImgEvent
  {
    display: block;
  }
}

/* -------------------------------  END RESPONSIVE EVENT PAGE FORMAT LAPTOP ------------------------*/


/* ------------------------------- RESPONSIVE EVENT PAGE FORMAT LAPTOP L ------------------------*/

@media (min-width: 1440px)
{
  .blockEvent
  {
    width: 45%; 
    background-color: #e3e6e4;
    margin-left: 50px;
    
  }

  .mainContainerEvent
  {
    display: flex;
    flex-wrap: wrap;
  }
}

